*{
	margin: 0;
	padding: 0;
}
.wrap{
	margin: 0 auto;
	width: 600px;
	font-family: Arial, sans-serif;
}
.timer{
	border: 5px solid #000;
	border-radius: 20px;
	background: #e1e3ff;
	text-align: center;
}
#timer--box{
	font-size: 100px;
}
.timer--msec{
	font-size: 20px;
}
.buttons{
	margin-top: 30px;
}
.buttons--start,
.buttons--stop,
.buttons--reset{
	width: 163px;
	border: 5px solid #000;
	border-radius: 26px;
	font-size: 55px;
	font-weight: bold;
	font-family: Arial, sans-serif;;
}
.buttons--start{
	background: #14a714;
}
.buttons--reset{
	background: #1760b7;
}
.buttons--stop{
	background: #a41717; 
}